<div class="container-fluid wow fadeInLeft animated">

	<div class="col-lg-3">
	<br>
		<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				Events this vendor is handling.
			</div>

			<div class="panel-body light-blue">
				<ul class="list-unstyled">
					
					<li><button onclick="goBack()" class="btn btn-primary">Go Back</button></li>


				</ul>
				
			</div>
			
		</div>
	</div>
	
	<div class="col-lg-9">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h3> <%= @user.first_name  %> <%= @user.last_name %> </h3>
			</div>

			<div class="panel-body light-blue">
				<ul class="list-unstyled">
					
					<li><button onclick="goBack()" class="btn btn-primary">Go Back</button></li>


				</ul>
				
			</div>
			
		</div>

	
	</div>
	

	
</div>

<script>
function goBack() {
    window.history.back();
}
</script>