
<div class="container-fluid wow fadeInLeft animated">

	
	<div class="col-lg-12">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h3><%= @user.name  %><small> <%= @user.profile.name  %> </small></h3>
			</div>

			<div class="panel-body light-red">

			
				
			
				
			</div>	
		</div>
	</div>
</div>

<script>
function goBack() {
    window.history.back();
}

$('#navbarUL').append("<li class='navbar-text pull-right'><a href='#' type='button' >Edit Profile</a></li>")



					
</script>

