
<div class="container-fluid wow fadeInLeft animated">

	<div class="col-lg-3">
	<br>
		<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h3>Events this vendor is serving.</h3>
			</div>

			<div class="panel-body light-blue">
				<ul class="list-unstyled">
				
					


				</ul>
				
			</div>
			
		</div>
	</div>
	
	<div class="col-lg-9">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h3><%= @vendor.first_name  %> <%= @vendor.last_name  %><h3>
			</div>

			<div class="panel-body light-blue">
				<ul class="list-unstyled">
					<%= @vendor.email %>
					<br>

						
					
					
					<button onclick="goBack()" class="btn btn-primary">Go Back</button>

				</ul>
				
			</div>
			
		</div>
	
	</div>
	

	
</div>

<script>
function goBack() {
    window.history.back();
}
</script>