
<div class="container-fluid wow fadeInLeft animated">

	
	<div class="col-lg-12">
	<br>
	<div class="panel panel-default  panel-border-black">
			<div class="panel-heading">
				<h4>Details for <%= @event.name %></h4>
			</div>

			<div class="panel-body light-blue">
				<ul class="list-unstyled">
					
					<li><button onclick="goBack()" class="btn btn-primary">Go Back</button></li>


				</ul>
				
			</div>
			
		</div>
	
	</div>
	

	
</div>

<script>
function goBack() {
    window.history.back();
}
</script>