<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<meta name="description" content="">
<meta name="author" content="Kaysser E Kayyali">
<link rel="shortcut icon" href="img/ico/favicon.ico">
<title>Plannify.us</title>

<!-- Font Awesome -->
<!-- <link href="/assets/stylesheets/landing/font-awesome.min.css" rel="stylesheet">
 -->
<!-- Carousel -->
<!-- <link href="/assets/stylesheets/landing/carousel.css" rel="stylesheet"> -->

<!-- Animate -->
<!-- <link href="/assets/stylesheets/landing/animate.css" rel="stylesheet"> -->

<!-- Custom styles for this template -->
<!-- <link href="/assets/stylesheets/landing/style.css" rel="stylesheet"> -->

<!-- Change skin color here (choose from css folder) -->
<!-- <link href="skin-teal.css" rel="stylesheet"> -->

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".main_h">

<style>
	#header {
		display: none;
	}
</style>

<!-- BEGIN HEADER
================================================== -->
<header class="main_h">
	<div class="container">
		<div class="row">
			<a class="logo" href="#home">Plannify.us</a>
			<div class="mobile-toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav>
			<ul class="nav">
				<li><a href="#home">Home</a></li>
				<li><a href="#features">How we work</a></li>		
				<li><a href="#contact-page">Contact</a></li>
				<!-- Temp Sign out -->
				<% if current_user.present? %>
				<li><a href="<%=destroy_user_session_path%>" data-method="delete">Sign-Out</a></li>
				<% end %>
			</ul>
			</nav>
		</div>	
	</div>
</header>


<!-- BEGIN HOME
================================================== -->
<section id="home" class="homepage">
	<div class="section-overlay-home"></div>
	<div class="container">
		<div class="row">
		
			
		
			<div class="col-sm-12 text-center">			
				<h1 id="logo">
				<%= image_tag("Logo.png", class: "wow fadeInDown animated",:data =>{"data-wow-delay"=>"0.3s"}) %>
				<br>
				</h1>
				<h1 id="logo-text">
				PLANNIFY.<span class="highlight">US</span>
				</h1>
				<div class="rotate-description wow fadeInLeft animated">
					Plan your <span class="highlight">events</span> with confidence.
				</div>
				
				<div class="home-buttons">
					<a href="<%= new_user_registration_path  %>" class="btn btn-default btn-lg wow slideInLeft animated"><i class="fa fa-link"></i> Sign up</a>    
					<a href="<%= new_user_session_path  %>" class="btn btn-primary btn-lg wow slideInRight animated"><i class="fa fa-download"></i> Login</a>
				</div>
			</div>
			
		</div><!-- end .row -->
	</div>
	<a href="#features" class="introarrow">
	<i class="fa fa-angle-double-down"></i>
	</a>
</section>
<!-- end home -->


<!-- BEGIN FEATURES
================================================== -->
<section id="features">
	<div class="wrapsection">
		<div class="container">
			<div class="sectionhead">
				<h1 class="heading">How we work</h1>
				<p class="lead">
					Plannify.us is your home for getting freelance events organized. Plannify can connect you with vendors and help you organize your event by coordinating every aspect of the process.
				</p>
			</div>
			<div class="row text-center">		
				<div class="col-sm-4 feature-item wow flipInY animated" data-wow-delay="0.1s">
					<div class="feature-icon">
						<i class="fa fa-eye"></i>
					</div>
					<h4>Event Organizers</h4>
					<p class="description">
						Because why do it the hard way?
					</p>
					<span class="sep"></span>
					<p>
						Once you login in, use your control panel to help you organize your events and coordinate with vendors.
					</p>
				</div>
				<div class="col-sm-4 feature-item wow flipInY animated" data-wow-delay="0.3s">
					<div class="feature-icon">
						<i class="fa fa-cog"></i>
					</div>
					<h4>Vendors</h4>
					<p class="description">
						Reach your clients faster
					</p>
					<span class="sep"></span>
					<p>
						Design your invoices, spend more time catering your clients, and streamline your work page.
					</p>
				</div>
				<div class="col-sm-4 feature-item wow flipInY animated" data-wow-delay="0.6s">
					<div class="feature-icon">
						<i class="fa fa-male"></i>
						<i class="fa fa-female"></i>
					</div>
					<h4>Staff</h4>
					<p class="description">
						No more hassles for your schedule
					</p>
					<span class="sep"></span>
					<p>
						Get access to your schedule as soon as its ready, and work with your employer to reach total synergy.
					</p>
				</div>
			</div><!-- end .row -->
		</div>
	</div>
</section>
<!-- end features -->





<!-- BEGIN FOOTER
================================================== -->
<div id="footer" class="footer">
<a href="#home" class="footerarrow">
<i class="fa fa-angle-double-up"></i>
</a>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="social-icons">
				<li class="wow bounceIn animated" data-wow-delay="0.1s"><a href="#."><i class="fa fa-facebook"></i></a></li>
				<li class="wow bounceIn animated" data-wow-delay="0.2s"><a href="https://twitter.com/plannifyus" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li class="wow bounceIn animated" data-wow-delay="0.3s"><a href="#."><i class="fa fa-google-plus"></i></a></li>
			</ul>
			<p class="copyright">
				 &copy;	Created by Kaysser Kayyali. 
			</p>
		</div>
	</div>
</div>
</div>
<!-- END FOOTER
================================================== -->

<!-- JavaScript placed at the end of the document so the pages load faster
================================================== -->

<!-- 
<script src="/assets/javascripts/landing/jquery.easing.min.js"></script>
<script src="/assets/javascripts/landing/smoothscroll.js"></script>
<script src="/assets/javascripts/landing/carousel.min.js"></script>
<script src="/assets/javascripts/landing/wow.min.js"></script>
<script src="/assets/javascripts/landing/validate.js"></script>
<script src="/assets/javascripts/landing/common.js"></script> -->
</body>
</html>