// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo-text {
	font-size:80px;
	text-align: center;
	color: #ffffff;
}